@mixin hover-selected {
  background-color: lighten($color: slategray, $amount: 50);
  color: slategray;
}

header {
  width: 100%;
  background-color: slategray;
  padding: 10px;

  .menu {
    margin-bottom: 0;
    margin-top: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        display: inline-block;
        text-decoration: none;
        background-color: slategray;
        color: white;
        padding: 0.5rem;
        transition: all 0.2s linear;
        border-radius: 25px;
        font-weight: bold;

        &:hover,
        &.selected {
          @include hover-selected;
        }
      }
    }
  }
}
